.markdown h1 {
  counter-reset: h2counter;

  margin-block: 0.4em;
  font-size: 2em;
  font-weight: bold;
}
.markdown h2 {
  margin-block: 0.3em;
  font-size: 1.5em;
}
.markdown h3 {
  margin-block: 0.2em;
  font-size: 1.17em;
}
.markdown h4 {
  margin-block: 0.15em;
}
.markdown h5 {
  margin-block: 0.1em;
  font-size: 0.83em;
}
.markdown h6 {
  margin-block: 0.05em;
  font-size: 0.67em;
}
.markdown p {
  margin-block: 0.5em;
}
.markdown ol,
.markdown ul {
  padding-inline-start: 40px;
}
.markdown ul {
  list-style-type: disc;
}
.markdown ol ul,
.markdown ul ul {
  list-style-type: circle;
}
.markdown h2:before {
  content: counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
  counter-reset: h3counter;
}
.markdown h3:before {
  content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  counter-increment: h3counter;
  counter-reset: h4counter;
}
.markdown h4:before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter)
    ".\0000a0\0000a0";
  counter-increment: h4counter;
}
