.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
.container > * {
  flex: 1 0 auto;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.nav {
  display: flex;
  flex-direction: column;
  width: var(--nav-width);
}
.pane {
  width: var(--split-pane-width);
  overflow: auto;
  position: relative;
}
@media (max-width: 900px) {
  .pane {
    width: 100vw;
  }
}
